.htaccess
/config.php
control_panel/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
