<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 activity-widget-small" id="activity-medium">
	<div class="panel panel-default block-size-normal">
		<div class="panel-heading">
			<h3 class="panel-title">{{ heading_title }}</h3>
		</div>
		<ul class="list-group">
			{% if activities %}
				{% for activity in activities %}
				<li class="list-group-item">
					<small class="text-muted"><i class="fa fa-clock-o"></i> {{ activity.date_added }}</small><br />
					<div class="activity-comment">
						{{ activity.comment }}
					</div>
				</li>
				{% endfor %}
			{% else %}
				<li class="list-group-item text-center text-muted no-results">{{ text_no_recent_activity }}</li>
			{% endif %}
		</ul>
	</div>
</div>