<div class="col-md-12">
	<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-yellow" data-url="{{ processing_orders }}">
		<div class="c-widget-icon">
			<span class="icon icon-question"></span>
		</div>
		<div class="c-wdiget-content-block">
			<div class="c-widget-content-heading">
				{{ total }}
			</div>
			<div class="c-widget-content-sub">
				{{ heading_title }}
			</div>
		</div>
	</div>
</div>