<div class="col-sm-6 col-md-3">
	<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-red" data-url="{{ customer }}">
		<div class="c-widget-icon">
			<span class="icon icon-user"></span>
		</div>
		<div class="c-wdiget-content-block">
			<div class="c-widget-content-heading">
				{{ total }}
			</div>
			<div class="c-widget-content-sub">
				{{ heading_title }}
			</div>
		</div>
	</div>
</div>