.tab-content {
    padding-top: 10px;
    padding-bottom: 10px;
}
.upload-computer {
    cursor: pointer;
}
.upload-computer > h1 {
    font-weight: 300;
    text-transform: uppercase;
}
.breadcrumb-manager {
    background: #f5f5f5;
    padding: 8px 15px;
    margin-bottom: 20px;
}
.status-manager {
    margin-top: 8px;
}
.status-manager > span {
    background: #f5f5f5;
    padding: 8px 15px;
    border-radius: 5px;
}
.details {
    margin-right: 15px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}
.directory {
    display: table;
    width: 100%;
    min-height: 110px;
}
.directory > i {
    display: table-cell;
    vertical-align: middle;
}
.thumbnail {
    margin-bottom: 0;
    height: 110px;
}
.thumbnail-out {
    display: block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out
}
.draggable-active > a {
    color: #ffd574 !important;
}
.draggable-hover > a {
    color: #e74c3c !important;
}
.selectable .ui-selecting > div { background: #ffd574; color: white; }
.selectable .ui-selected > div { background: #e74c3c; color: white; }
.ui-selectable-helper{
    position:absolute;
    z-index:9999;
    border:1px dotted black;
}
.padding-item {
    margin-bottom: 10px;
}
.top-z {
    z-index: 9999;
}
#modal-image {
    overflow-y: auto !important;
}