<?php
// HTTP
define('HTTP_SERVER', '{http_admin}');
define('HTTP_CATALOG', '{http_server}');

// HTTPS
define('HTTPS_SERVER', '{https_admin}');
define('HTTPS_CATALOG', '{https_server}');

// DIR
define('DIR_APPLICATION', '{dir_admin}');
define('DIR_SYSTEM', '{dir_system}');
define('DIR_IMAGE', '{dir_image}');
define('DIR_CATALOG', '{dir_app}');
define('DIR_STORAGE', DIR_SYSTEM . 'storage/');
define('DIR_LANGUAGE', DIR_APPLICATION . 'language/');
define('DIR_TEMPLATE', DIR_APPLICATION . 'view/template/');
define('DIR_CONFIG', DIR_SYSTEM . 'config/');
define('DIR_CACHE', DIR_STORAGE . 'cache/');
define('DIR_DOWNLOAD', DIR_STORAGE . 'download/');
define('DIR_LOGS', DIR_STORAGE . 'logs/');
define('DIR_MODIFICATION', DIR_STORAGE . 'modification/');
define('DIR_SESSION', DIR_STORAGE . 'session/');
define('DIR_UPLOAD', DIR_STORAGE . 'upload/');

// DB
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', '{db_host}');
define('DB_DATABASE', '{db_database}');
define('DB_USERNAME', '{db_username}');
define('DB_PASSWORD', '{db_pwd}');
define('DB_PORT', '{db_port}');
define('DB_PREFIX', '');

// OpenCart API
define('OPENCART_SERVER', 'https://www.opencart.com/');
